
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.markdown-content h1 {
    @apply text-2xl font-bold my-4;
}

.markdown-content h2 {
    @apply text-[1.3rem] font-bold my-4;
}

.markdown-content h2 {
    @apply text-[1.1rem] font-bold my-4;
}
  
.markdown-content p {
    @apply my-2;
}

.markdown-content ul {
    @apply list-disc my-2 ml-3;
}

.markdown-content ol {
    @apply list-decimal my-2 ml-3;
}

.markdown-content li {
    @apply my-5 ml-8;
}

h1 {
    @apply text-[1.3rem] font-bold;
}
  